.changePassword {
  .input_main {
    margin-bottom: 1.25rem;
  }

  .changePwButton {
    margin-top: 1.875rem;
    padding: 1rem;
    background-color: rgba(22, 23, 26, 1);
    border-radius: 0.625rem;
  }
  .mainItemCardv2 {
    box-shadow: none;
  }
}
