.tradingInstructinTopDisp{
    display: flex;
    align-items: center;
    .tradeNote{
        flex: 1;
        h3{

        }
        p{

        }
    }
    .tradingImg{
        flex: 1;
        trader-image{
            
        }
    }
}