.meta-5.tradingContainer{
    h3{
        font-size: 34px;
        text-align: center;
        color: #fff;
        margin-top: 60px;
    }
    .bg-theme{
        background: #131B2E;
        padding: 54px 0;

    }
}