// .welcomeStepTwo {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-between;
//   gap: 20px;
//   height: 100%;
//   // animation: slideInFromRight 0.9s forwards;
//   // padding-top: 80px;

//   .stepTwoW_background {
//     width: 80%;
//     height: 80%;
//     position: absolute;
//     top: 0;
//     left: 50%;
//     transform: translate(-50%, 0%);

//     img {
//       width: 100%;
//       height: 100%;
//     }
//   }

//   .stepTwoItems {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: center;
//     gap: 20px;
//     z-index: 100;
//     max-width: 85%;
//     margin: auto;
//     @media screen and (max-width: 730px) {
//       max-width: 100%;
//       margin-top: 10%;
//    }

//     .setpTwoItemCard {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       padding: 23.2137px 27.7067px 23.2137px 29.0684px;
//       gap: 10px;
//       background: linear-gradient(
//         180deg,
//         #1b1d21 0%,
//         rgba(27, 29, 33, 0) 128.91%
//       );
//       border-radius: 14.9766px;
//       font-family: "Roboto";
//       font-style: normal;
//       font-weight: 500;
//       font-size: 32px;
//       color: #ffffff;
      

//       h2{
//         font-size: 20px;
//       }

//     }
//   }

//   .stepTwomain_info {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     z-index: 100;
//     color: white;
//     margin-top: 4rem;
//     max-width: 70%;
//     text-align: center;
//     @media screen and (max-width: 730px) {
//       max-width: 95%;
//    }
//     h2{
//       font-weight: 500;
//       font-family: "Poppins", sans-serif;
//       font-size: 17px;
//       @media screen and (max-width: 730px) {
//         max-width: 90%;
//      }

//     }
//     .stepTwoButton{
//       margin-top: 1rem;
//       animation: buttonPulse 1s infinite;
//       transition: all 0.5s ease-in-out;
//       @media screen and (max-width: 730px) {
//         margin-bottom: 2rem;
//      }
//     }
    
//   }
// }

// @media screen and (max-width: 834px) {
//   .welcomeStepTwo {
//     .stepTwoItems {
//       .setpTwoItemCard {
//         padding: 21.271px 25.3879px 21.271px 26.8947px;
//         gap: 6.86px;
//         font-size: 36.63px;
//       }
//     }
//   }
// }

// @media screen and (max-width: 428px) {
//   .welcomeStepTwo {
//     .stepTwomain_info  {
//       h2 {
//         font-size: 13.19px;
//       }
//     }

//     .stepTwoItems {
//       gap: 15px;
//       // padding-bottom: 100px;

//       .setpTwoItemCard {
//         font-size: 19px;
//         padding: 11.0989px 13.2471px 11.0989px 13.8982px;
//       }
//     }
//   }
// }
.stepTwoItemCard{
  border-radius: 14.977px;
  background: linear-gradient(180deg, #1B1D21 0%, rgba(27, 29, 33, 0.00) 128.91%);
  padding: 23.214px 27.707px 23.214px 29.068px;
}
/***** Slide Right *****/
.slide-right {
  animation: 3s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

/***** Slide Left *****/
.slide-left {
  animation: 3s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
.zoom-in {
  animation: zoom-in-zoom-out 0.2s ease-out ;
}
.zoom-in-2 {
  animation: zoom-in-zoom-out 0.4s ease-out ;
}
@keyframes zoom-in-zoom-out {
  from{
    transform: scale(0.5, 0.5);
  }
  to{
    transform: scale(1, 1);
  }
}