
.tradingWrapper.straightForwardWrap{
    display: flex;
    
    margin-top: -90px;
    @media (max-width: 720px) {
        flex-direction: column;
        
    }
        .textWrapper{
        padding: 42px 0;
        flex: 1;

        h3{
            font-size: 34px;
            color: #fff;
            line-height: 45px;
            margin: 12px 0;
        }
        p{
            line-height: 24px;
            color: #999999;
            font-size: 16px;
            padding-right: 40px;
        }
    }
    .backdropImage{
        position: relative;
        text-align: right;
        flex: 1;
        @media (max-width: 720px) {
            display: none;
            
        }
        img.mainImg{
          max-width: 490px;
        }

        .icon-1{
            position: absolute;
            top: 80px;
            right: 440px;
        }
        .icon-2{
            position: absolute;
            top: 270px;
            right: 480px;
        }

    }
}