.deposit-Input-Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.7rem;
  border: 2px solid ;
  border-radius: 0.313rem;

  &.marginTop {
    margin-top: 0rem;
  }

  &.marginTop2 {
    margin-top: 1.5rem;
  }

  &.border2{
    border-color: #27a2ff;
  }

  &.border{
    border-color: rgba(255, 255, 255, 0.5);
  }

  .deposit-input {
    background-color: transparent;
    color: white;
    width: 60%;
    border: none;
    outline: none;
    padding: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
  }
  .credit-cards {
    display: flex;
    flex-direction: row;
    width: 10%;
  }
}
.deposit-input:active,
.deposit-input:focus {
  border: none;
  outline: none;
}
.deposit-input {
  &::placeholder {
    font-weight: 500;
    font-size: 1rem;
    padding-top: 0.5rem;
    color: rgba(255, 255, 255, 1); // default color
  }

  &.placeholderColor2::placeholder {
    color: white;
  }

  &.placeholderColor::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

