.olymp-trade-info {
    .btn {
            width: 10.625rem;
            height: 2.875rem;
            border-radius: 0.5rem;
            background-color: #393A3D;
            border: none;
            color: white;
            margin-bottom: 1.575rem;
        }
        .olymp-trade-info-about {
        padding: 2.5rem;
        
            h3 {
                color: white;
                font-weight: 500;
                font-size: 1.25rem;
                line-height: 2.036rem;
            }
            p{
                color: rgba(149, 149, 149, 1);
                font-weight: 400;
                font-size: 0.938rem;
                line-height: 1.063rem;
                // padding: 0.3rem 0rem 1.5rem 0rem;
                span {
                    font-weight: 700;
                }
            }
    }
    .olymp-trade {
        cursor: pointer;
        margin-top: 1.575rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1A1D21;
        padding: 2rem;
        border-radius: 0.438rem;
        gap: 2.563rem;
        div {
            font-weight: 700;
            font-size: 1rem;
            color: white;
        }
    }
}