.magic-box-image-box {
    width: 100%;
    height: 19.1038rem;
    background: linear-gradient(126.82deg, #1A237B 8.58%, #040B21 62.18%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0;
    left: 0;
    z-index: -1;
    span {
        color: #fff;
        font-size: 1.8356rem;
        font-weight: 500;
        margin-top: 1.375rem;
    }
}
.magic-box-text-box{
    position:absolute;
    top:19.1038rem;
    left: 0;
    p {
        color: #969798;
        width: 100%;
        line-height: 1.1719rem;
        font-size: 0.875rem;
        font-weight: 400;
        text-align: center;
        padding: 0 5rem;
        margin: 2.6875rem 0;
    }
}

.magic-box-possible-rewards{
    position: absolute;
    top: 45%;
    width: 90%;
    .rewards-title{
        color: #fff;
    }
    span {
        font-size: 1.4375rem;
        font-weight: 500;
        margin: 0 1rem;
    }
    .reward-btn{
        width: 100%;
        margin-bottom: 1.75rem;
        .settings{
            display: flex;
            justify-content: flex-start;
            background: none;
            img {
                margin-right: 1rem;
                width: 4.125rem;
                height: 3.4375rem;
                object-fit: contain;
            }
            p {
                text-align: left;
            }
            .reward-key{
                color: #969798;
                margin-bottom: 0.25rem;
                font-size: 0.875rem;
            }
            .reward-value{
                color: #fff;
                font-weight: 600;
                font-size: 1.125rem;
            }
        }
    }
}