.portfolioProfile{
   
    .ant-modal{
        .ant-modal-content{

            .ant-modal-header{
                color: white;
                background-color: transparent;
                .ant-modal-title{
                    color: white;
                }
            }
            @media (max-width: 480px) {
                padding: 10px 5px;
                
            }
      
            .ant-modal-close-x{
                color: white;
                top: 10px;
                right: 0;
            }
        }
   

        }

    .portfolioWrapper{
            grid-template-columns: 1fr 3fr;
            @media (max-width: 780px) {
                grid-template-columns: 1fr;

                
            }
            .sideNav{
                @media (max-width: 480px) {
                    display: none;
                    
                }
            }
            .main-conatain{
            &.hide-scrollbar{

                scrollbar-width: none; /* For Firefox */
            }
        }
        }


}
