.welcome {
  width: 100%;
  height: 100vh;
  background: #0b1118;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .welcome_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
  }

  .header_right {
    display: flex;
    min-width: 134px;
    min-height: 78px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;
    background: #172331;
    border-radius: 10px;
  }

  .header_text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #ffffff;
  }

  .line {
    height: 90%;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .welcome_main {
  }

  .info {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    letter-spacing: 0.01em;
    color: #ffffff;
  }

  .text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    color: #ffffff;
  }

  .button {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 22px 20px 22px 25px;
    background: #ff0000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
  }
}
