    .benefitCardWrapper{
        h2{
            font-size: 34px;
            margin: 12px;
            color: #fff;
            text-align: center;
        }
    }
    .benefitWrapper{
        display: flex;
        margin-top: 20px;
        @media (max-width:720Px){
            flex-direction: column;
        }
        gap: 38px;

        .benefitListWrapper{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            @media (max-width:720Px) {
                grid-template-columns: 1fr;
                padding: 12px 8px;
                
            }
        }
   
   }
