.report-msg-text{
    font-size: 14px;
    font-weight: 500;
}

.get-report-btn{
    padding: 8px 122px;
    background-color: #0094FF;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    border-radius: 12px;
    height: 42px;
}