.pic-card{
    display: inline-block;
    background-color: #3C475B;
    padding: 15px 30px;
    position: absolute;
    top: 0;
    left: 299px;
    border-radius: 14px;
    overflow: hidden;
    .pic-wrapper{
        margin: auto;
        width: 78px;
        border-radius: 100%;
        height: 78px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    .pic-info{
        text-align: center;
        margin: 19px auto;
        .name{
            font-size: 13px;
            
        }
        .fig{
            color: #00B67A;
            font-size: 14px;
            font-weight: 700;
        }
        .ROI{
            span{color: #00B67A;}
        }
        button{
            background-color: #13121B ;
            border-radius: 14px;
            color: white;
            padding: 5px 24px;
            margin: 19px auto ;
        }
    }
}