

.deposit-card {
  border: 0.01rem solid #27a2ff;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 0rem !important;
  
  .cardContent {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  padding: 0.5rem;
  column-gap: 0.75rem;
  .cardLeft {
    width: 100%;
    .cardTop {
      display: flex;

      .cardSubtext {
        font-size: 0.65rem;
        font-weight: 400;
        margin-bottom: 0.2rem;
        color: white;
      }
    }
    .cardBottom {
      display: flex;
      align-items: center;
      .cardTitle {
        font-size: 1rem;
        font-weight: 500;
        color: white;
      }
    }
  }

  .cardRight {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    svg {
      width: 1.5rem;
    }
  }
}
}