.headerAddIcon {
  cursor: pointer;
  position: absolute;
  top: 1.7rem;
  right: 5.3125rem;

  svg {
    width: 1.1669rem;
  }
}

.accountsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;

  .addIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .addIcon {
      padding: 0.625rem 1.25rem;
      border-radius: 0.3125rem;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}


.accountCardWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.25s;
  border-radius: 0.3125rem;

  &.selected {
    padding: 0.8rem 1.1rem 0.8rem .8rem ;
    box-shadow: 0rem 0.125rem 0rem 0.125rem rgba(0, 0, 0, 0.05),
      0rem 0.0625rem 0rem 0.0625rem inset rgba(39, 162, 255, 0.26);
    .accountType {
      color: #f9b42b !important;
    }
    .amount {
      color: #ffffff !important;
    }
    .secAmount {
      color: #ffffff !important;
    }
    
  }
  .leftSide {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 0.5rem;
    margin-left: 0.5rem;
    .icon {
      display: flex;
      align-items: center;
    }
    .accountDeets {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      .accountType {
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.75rem;
      }
      .amount {
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.25rem;
      }
      .secAmount {
        color: var(--white-white-50, rgba(255, 255, 255, 0.5));
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
      }
    }
  }
  .suffixIcon {
    display: flex;
    align-items: center;
    position: relative;
  }
  .tag {
    border: 0.0625rem solid #1fbf75;
    color: #1fbf75;
    border-radius: 0.4375rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin-right: 0.625rem;
  }
}
.leftSide-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .leftSide {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .icon {
      display: flex;
      align-items: center;
    }
    .accountDeets {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      .accountType {
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.75rem;
      }
      .amount {
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.25rem;
      }
      .secAmount {
        color: var(--white-white-50, rgba(255, 255, 255, 0.5));
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
      }
    }
  }
}

.new-card {
  border-radius: 0.313rem;
  box-shadow: 0rem 0.125rem 0rem 0.125rem rgba(0, 0, 0, 0.05),
    0rem 0.0625rem 0rem 0.0625rem inset rgba(39, 162, 255, 0.26);
  &.backgroundColor {
    background-color: rgba(61, 64, 70, 1);
  }
}
.buttons {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.buttons-1 {
  padding: 1rem 2.5rem;
  background-color: rgba(61, 64, 70, 1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.8rem;
  font-weight: 600;
  font-size: 1.125rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
  color: white;
}
.buttons-2 {
  padding: 1rem 2.5rem;
  background-color: rgba(61, 64, 70, 1);
  border: 1px solid rgba(39, 162, 255, 1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 0.8rem;
  font-weight: 600;
  font-size: 1.125rem;
  color: white;
}

.dropdownMenu {
  background: rgba(61, 64, 70, 1);
  position: absolute;
  top: 2.5rem;
  right: 0;
  border-radius: 0.313rem;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  z-index: 1000;
  .dropdownMenuContent {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 1rem 5rem 1rem 2rem;
    
    .dropdownMenuItem {
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.75rem;
      color: #fff;
    }
  }
}

.dropdownMenuContent:hover {
      cursor: pointer;
      border-radius: 0.313rem;
      box-shadow: 0 0.125rem 0 0.125rem rgba(0, 0, 0, 0.05), 0 0.063rem 0 0.063rem inset rgba(39, 162, 255, 0.26);
    }