.settings-dropdown{
    // background-color: green;
    .dropdown-options{
        transition: all 0.3s ease-in-out;
        background-color: red;
        &.let-down{
            height: max-content;
            padding: 12px 3px;

        }
        &.let-up{
            height: 0;

        }


    }
}

