.deposit-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  .deposit-success-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .success-message {
      color: rgba(255, 255, 255, 1);
      font-weight: 600;
      font-size: 1.25rem;
    }
    .deposited-payment {
      color: rgba(29, 151, 71, 1);
      font-weight: 600;
      font-size: 2.456rem;
    }
  }
  .button {
    width: 90%;
    margin-top: 2rem;
  }
  .deposited-trust {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    .deposited-trust-text {
      font-weight: 500;
      font-size: 0.75rem;
      color: rgba(255, 255, 255, 0.5);
    }
    .deposited-trust-icons {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      justify-content: space-evenly;
    }
    .deposited-trust-subtext {
      font-weight: 400;
      font-size: 0.75rem;
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
      padding: 0 2.5rem;
      margin-bottom: 3rem;
    }
  }
}
