.eventsContainer {
  .eventsTagLineCon {
    margin-top: -1rem;
    margin-bottom: 1.8rem;
    .eventsTagLine {
      font-size: 0.875rem;
      font-weight: 400;
      color: #969798;
    }
  }
  .eventMainItemCard {
    margin-top: 1.4rem;
    .eventMainItemRow {
      display: flex;
      align-items: center;
      svg {
        width: 2rem;
      }
      .eventMainItemTextDiv {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        .happeningNowText {
          font-size: 0.875rem;
          font-weight: 600;
          color: #5d86a6;
        }
        .secondText {
          font-size: 1.125rem;
          font-weight: 600;
          color: #ffffffe5;
        }
        .thirdTextRow {
          display: flex;
          align-items: center;
          gap: 0.3rem;
          .endsText {
            font-size: 0.75rem;
            font-weight: 400;
            color: #969798;
          }
          .dateText {
            font-size: 0.875rem;
            font-weight: 600;
            color: #5d86a6;
          }
        }
      }
      .rightIconDiv {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        svg {
          width: 2rem;
          height: 2rem;
          stroke-width: 0.1rem;
        }
      }
    }
  }
}
