.newsMenu {
    .searchContainer {
        .inputSearch {
            width: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0.3rem;
            input {
                width: 100%;
                background-color: transparent;
                outline: none;
                font-size: 1rem;
                border: none;
                color: white;
            }
        }
    }
    .textContainer {
        margin-top: 1.5rem;
        padding: 0.875rem 0.9375rem 0.875rem 0.9375rem;
        border: 0.0625rem solid rgba(255, 255, 255, 0.3);
        border-radius: 0.625rem;
    h2 {
        color: #fff;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.25rem;
    }
    p {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        font-size: 0.75rem;
        line-height: 1.25rem;
        font-weight: 400;
        color: rgba(150, 151, 152, 1);
    }
    .textFooter {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        svg {
            path {
                stroke: rgba(0, 148, 255, 1);
            }
            circle {
                stroke: rgba(0, 148, 255, 1);
            }
        }
        h3 {
            color: rgba(0, 148, 255, 1);
            font-size: 0.65rem;
            font-weight: 400;
        }
        li {
            color: rgba(150, 151, 152, 1);
            font-size: 0.65rem;
            font-weight: 400;
        }
        .time {
            background-color: rgba(217, 217, 217, 0.1);
            border-radius: 0.3125rem;
            padding: 0.325rem 0.3125rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(150, 151, 152, 1);
            font-size: 0.65rem;
        }
    }
}
.news-content{
    margin-top: 1rem;
    padding-top: 1rem;

    .ant-card {
        margin-bottom: 10px;
        border: 1px solid rgba(255, 255, 255, 0.363);

        padding: 0 !important; /* Custom padding with higher precedence */
        .ant-card-body{
            padding: 12px;
        }
    }

    .news-top{
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
    }
    .news-body{
        font-weight: 400px;
        font-size: 12px;
        color: #969798;
    }
    .news-timer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #0094FF;
        font-size: 11px;
        max-width: 100px;
    }
    .news-pub{
        display: flex;
        align-items: center;
        justify-content: space-between;
      color: #969798;
      font-weight: 400;
      font-size: 12px;
      max-width: 120px;

    }
    .date{
        background: #d9d9d918 ;

        display: flex;
        justify-content: center;
        font-size: 12px;
        color: #969798;
        align-items: center;
        padding: 6px;
        border-radius: 8px;
    }
}
}