.walkThroughSidebarContainer{
  // background-color: red;
  width: 100%;
  max-width: 320px;
  @media screen and (max-width: 830px) {
   max-width: 95%;
   display: flex;
   flex-direction: column;
   gap: 0rem;
   margin-bottom: 0%;
   margin-top: 0%;
}  
.walkThroughTopBarInputs{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  @media screen and (max-width: 830px) {
    gap: 0.5rem;
   flex-direction: row;
  
}  
  .amountInputContainer,
  .durationInputContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    .walkthroughInputContent {
        display: flex;
        flex-direction: column;
        border-radius: 9px;
        padding: 0.8rem 0.6rem;
        border: 2px solid #414c58;
        margin-top: 10px;
        margin: 10px 0px;
        @media screen and (max-width: 830px) {
          margin-top: 0px;
           margin: 3px 0px;
           padding: 0.3rem 0.6rem;
        }
        input {
          text-decoration: none;
          outline: none;
          background-color: transparent;
          font-size: 18px;
          color: white;
          @media screen and (max-width: 830px) {
            width: 100%;
          }
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        /* Firefox */
        input[type="number"] {
          -moz-appearance: textfield;
        }
        label {
          font-size: 10px;
          margin-top: 1px;
          color: rgb(164, 167, 172);
        }
      }
      
      .walkThroughButtonsContainer {
        // display: flex;
        display: flex;
        gap: 0.4rem;
              margin-top: 5px;
              .walkThroughButtons {
                width: 100%;
                button {
                  background-color: #283645;
                  width: 100%;
                  padding: 0.5rem 0rem;
                  border-radius: 4px;
                }
              }
            }
          }
          .bottomButtonNDownContainer{
            display: flex;
            width: 100%;
           .walkThroughSidbarUpDown{
          
            display: flex;
            width: 100%;
            flex-direction: column;
        
            @media screen and (max-width: 830px) {
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   flex-direction: row;
                   gap: 2rem;
                  }
                  
                }
                .durationInputContainer{
                  background-color: green;
                }
              }
  }
  .bottomButtonNDownContainer{
        display: flex;
        width: 100%;
       .walkThroughSidbarUpDown{
      
        display: flex;
        width: 100%;
        flex-direction: column;
    
        @media screen and (max-width: 830px) {
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: row;
               gap: 0.5rem;
        }
        .walkThroughupNdown {
          margin-top: 10px;
          @media screen and (max-width: 830px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 5px;
           }
          button {
            display: flex;
            width: 100%;
            background-color: #283645;
            align-items: center;
            justify-content: space-between;
            padding: 16px 24px;
            border-radius: 10px;
            @media screen and (max-width: 830px) {
              padding: 6px 10px;
           }
            
          
            &:disabled {
              .walkThroughupNdownTitle {
                color: #ffffff5e;
              }
            }
            .walkThroughupNdownTitle {
              color: white;
              
              h2 {
                font-weight: 500;
                font-size: 16px;
              }
              span {
                font-size: 11px;
                margin-top: 2px;
            }
          }
          .walkThroughBUttonIcon {
            width: 20px;
          }
        }
        }
      }}
}































// .testContainer {
//   background-color: #0b1118;
//   // height: 100vh;
//   width: 16vw;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 4rem;
//   @media screen and (max-width: 830px) {
//     width: 100%;
//  }

//   .walkThroughSidbarContainer {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     gap: 5px;
//     .walkThroughSidbarTwoBlocks{
     
      
//       @media screen and (max-width: 830px) {
//         display: flex;
//         flex-wrap: wrap;
//         width: 100%;
//         gap: 1rem;
//         flex-direction: row;
//      }
//     }
    
    
//     .walkthroughInputContent {
//       display: flex;
//       flex-direction: column;
//       border-radius: 9px;
//       padding: 0.8rem 0.6rem;
//       border: 2px solid #414c58;
//       margin-top: 10px;
//       margin: 10px 0px;

//       input {
//         text-decoration: none;
//         outline: none;
//         background-color: transparent;
//         font-size: 18px;
//         color: white;
//       }
//       input::-webkit-outer-spin-button,
//       input::-webkit-inner-spin-button {
//         -webkit-appearance: none;
//         margin: 0;
//       }
//       /* Firefox */
//       input[type="number"] {
//         -moz-appearance: textfield;
//       }
//       label {
//         font-size: 10px;
//         margin-top: 1px;
//         color: rgb(164, 167, 172);
//       }
//     }

//     .walkThroughButtonsContainer {
//       display: flex;
//       gap: 0.4rem;
//       margin-top: 5px;
//       .walkThroughButtons {
//         width: 100%;
//         button {
//           background-color: #283645;
//           width: 100%;
//           padding: 0.5rem 0rem;
//           border-radius: 4px;
//         }
//       }
//     }
//   }
//   .bottomButtonNDownContainer{
//     display: flex;
//     width: 100%;
//    .walkThroughSidbarUpDown{
  
//     display: flex;
//     width: 100%;
//     flex-direction: column;

//     @media screen and (max-width: 830px) {
//            display: flex;
//            justify-content: center;
//            align-items: center;
//            flex-direction: row;
//            gap: 2rem;
//     }
//     .walkThroughupNdown {
//       margin-top: 10px;
//       @media screen and (max-width: 830px) {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 100%;
//  }
//       button {
//         display: flex;
//         width: 100%;
//         background-color: #283645;
//         align-items: center;
//         justify-content: space-between;
//         padding: 16px 24px;
//         border-radius: 10px;
        
        
      
//         &:disabled {
//           .walkThroughupNdownTitle {
//             color: #ffffff5e;
//           }
//         }
//         .walkThroughupNdownTitle {
//           color: white;
          
//           h2 {
//             font-weight: 500;
//             font-size: 16px;
//           }
//           span {
//             font-size: 11px;
//             margin-top: 2px;
//         }
//       }
//       .walkThroughBUttonIcon {
//         width: 20px;
//       }
//     }
//     }
//   }
// }
// }






// // tool tip custom css

// // .walkthroughCustomTooltip {
// //   .ant-tooltip-inner {
// //     font-size: 16px;
// //     font-weight: 400;
// //     // width: 19.6875rem;
// //     padding: 1.25rem;
// //     line-height: 1.6875rem;

// //     @media (max-width: 991px) {
// //       font-size: 1.125rem;
// //       width: 18.125rem;
// //     }

// //     @media (max-width: 834px) {
// //         padding-top: 200px;
// //     }
// //   }
// // }

// // @media (max-width: 834px) {
// //   .testContainer {
// //     width: 100%;
// //     z-index: 1000;
// //     bottom: 0;
// //     @media (max-width: 834px) {
// //       width: auto;
// //   }

// //     .walkThroughSidbarContainer {
// //       .walkThroughSidbarTwoBlocks {
// //         display: flex;
// //         justify-content: space-between;
// //         align-items: center;
// //         gap: 0px;

// //         .walkThroughSidbarItems {
// //           width: 49%;
// //         }
// //       }

// //       .walkthroughInputContent {
// //         display: flex;
// //         flex-direction: column;
// //       }

// //       .walkThroughButtonsContainer {

// //         .walkThroughButtons {
// //             width: 50%;
// //         }
// //       }


// //       .walkThroughSidbarUpDown {
// //         display: flex;
// //         gap: 10px;

// //         .walkThroughupNdown {
// //           width: 50%;
// //         }
// //         .walkThroughupNdown{
// //           // background-color: red;
// //           button{
// //             // background-color: pink;
// //           }
// //         }
// //       }
// //     }
// //   }
// // }
