.asset-list {
    .table{
        border-radius: 12px;
        overflow: hidden;
        color: white;
        thead{
            // border-radius: 34px;
            // overflow: hidden;
        }
    }

}