.landingContainer{
    // background: linear-gradient(#00000057, #000), url('../../../../assets/trading/Frame_black2.png');
    background: linear-gradient(#000, #000);
    padding-top: 50px;
h1{
    font-size: 39px;
    text-align: center;
    margin: 0px auto;
    color: white;
}
p{
    max-width: 590px;
    margin: auto;

    color: white;
    text-align: center; 
    line-height: 37px;
    font-size: 16px;
}
.desktopImageCont{
    margin: auto;
    text-align: center;
    background: #000;
    width: 1200px;
    height: 950px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    
    img{
        display: block;
        margin: auto;
        object-fit: scale-down;
        max-height: 100%;
    }
}


.landingHeaderTitle{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.tradingCardContainer{
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 0 12px;
    

    @media(max-width: 767px) {
        gap: 0.8rem;
        width: fit-content;
        flex-wrap: wrap;
      }
    
    }

}