.welcomeStepSeven {
  width: 100%;
  display: flex;

  .modal {
    margin-top: 80px;
    margin-left: 20px;
  }
}


@media (max-width: 834px) {
  .welcomeStepSeven {

  }
}

@media screen and (max-width: 428px) {
  .welcomeStepSeven {

  }
}
