.topbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 8px;
  }

  .conversionDiv{
    width: 65%;
    @media (max-width: 767px) {
      width: 100%;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: space-between;
      // width: auto;
    }
    // @media (max-width: 1600px) {
    //   width: 74%;
    // }

    // @media (max-width: 1292px) {
    //   width: 70%;
    // }
    // @media (max-width: 11115px) {
    //   width: 65%;
    // }
    // @media (max-width: 9005px) {
    //   width: 65%;
    // }
    .asset-pair-container{
      display: flex;
      gap: 8px;
    }
    .top-bar-chart-options{
      display: none;
      @media (max-width: 767px) {
        display: flex;
        gap: 12px;
        align-items: center;
      }
      .top-bar-chart-option{
        width: 42px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        background: #1A1D21;
        z-index: 3;
        cursor: pointer;
      }
    }
   
}
  .payProfileTab {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &.payProfileTabMobile {
      display: none;
    }

    @media (max-width: 767px) {
      width: 100%;
      justify-content: space-between;
      display: none;

      &.payProfileTabMobile {
        display: flex;
      }

      button.profile {
        border-radius: 0.438rem !important;
      }
    }

    .demo {
      // height: 2.813rem;
      // padding: 0 0.625rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      padding: 0.2rem 0.6rem;
      margin-right: 10px;
    
      p.value {
        color: #fff;
        font-size: 14px;
        margin-right: 0.225rem;
        
      }
      .amount {
        // margin-top: 0.313rem;
        display: flex;
        align-items: center;
      }
      .dem {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        span{
          color: #0094ff;
          font-size: 16px
        }
      }
    }
    .demo:hover {
      background: #5e697852;
      border-radius: 0.313rem;
    }
    .profileButtons {
      display: flex;
    }
    button.payments {
      border-radius: 0.5rem;
      background: #0094ff;
      color: #ffffff;
      font-size: 1rem;
      font-weight: 500;
      height: 2.813rem;
      padding: 0 0.938rem;
    }
    button.dropup-icon {
      background: var(--base-gamma);
      width: auto;
      min-width: 2.563rem;
      height: 2.813rem;
      border-radius: 0.438rem 0 0 0.438rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button.profile {
      position: relative;
      background: var(--base-gamma);
      width: 2.563rem;
      height: 2.813rem;
      border-radius: 0 0.438rem 0.438rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .profile-img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
