.card-container {
  display: flex;
  align-items: center;
  background: linear-gradient(
    143.41deg,
    rgba(23, 49, 113, 0.6) 6.26%,
    rgba(20, 95, 239, 0.6) 45.35%,
    rgba(88, 132, 241, 0.6) 78.69%
  );
  height: 17.75rem;
  width: 100%;

  .magic-card-text {
    width: 50%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .referalRewardsText {
      color: #ffffff;
      font-size: 1.7056rem;
      font-weight: 700;
    }
    .megabox-text {
      color: #61c1e8;
      font-size: 1.7056rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }
    .ant-btn-default {
      background-color: #0e0f12;
      color: #ffffff;
      font-size: 1rem;
      font-weight: 600;
      border: none;
      width: 10rem;
      height: 3rem;
    }
  }
}
