.metaTradingWrapper{
    color: white;
    display: flex;
    align-items: center;
    @media (max-width: 720px){
        flex-direction: column;
    }
    .graphicWrapper{
        position: relative;
        width: 100%;
        background-image: url("/trading-images/candleStickBg34.png"), url('/trading-images/bg-graph.png');
        height: 320px;
        background-repeat: no-repeat;
        background-size: 150px,  190px ;
        background-color: rgba(0, 0, 0, 0.007);
        background-position: left 10px, center 0px;
        @media (max-width: 720px){
            height: 300px;
        }
        img{
            margin-bottom: auto;
            margin: auto;
            display: block;
            position: absolute;
            bottom: 100px;
            right: 30%;
            @media (max-width: 720px){
                bottom: 50px;
            }

        }
    }
    .textWrapper{
        padding: 12px;
        flex: 1;
        h3{
            font-size: 34px;
            line-height: 45px;
        }
        p{
            line-height: 27px;
            font-size: 16px;
            color: #999999;

        }
    }
}